@charset "UTF-8";

.mainvisual{
  padding: 0 35px;
  margin: 0 auto;
  text-align: center;
}

.mainvisual-pic img{
  width: 100%;
  object-fit: contain;
}

.mainvisual h3{
  margin: 10px 0;
}

.mainvisual h3,p{
  font-size: 1.1rem;
}

.staff-txt{
  padding: 0 35px;
  margin-top: 50px;
}

.staff-txt-box + .staff-txt-box{
  margin-top: 20px;
}

.staff-txt-box h3{
  padding-bottom: 5px;
  font-size: 1.2rem;
  border-bottom: 1px solid #000;
}

.staff-txt-box p{
  margin-top: 5px;
  font-size: 0.9rem;
  letter-spacing: .2rem;
  line-height: 1.3rem;
}

.slider-area{
  padding: 0 35px;
  margin-top: 50px;
}

.slick-prev{
  z-index: 2;
  left: -2px;
}

.slick-next{
  z-index: 2;
  right: 8px;
}

.slick-prev:before, .slick-next:before{
  font-size: 30px;
}

.slider_pic{
  width: 100%; 
  object-fit: contain;
}

/* PCディスプレイ */

@media(min-width:550px){

  .mainvisual{
    max-width: 700px;
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
  }

  .mainvisual-pic{
    margin: 0 auto;
  }
  
  .mainvisual h3{
    margin: 20px 0;
  }
  
  .mainvisual h3,p{
    font-size: 1.5rem;
  }
  
  .staff-txt{
    margin: 50px auto 0;
    max-width: 600px;
    width: 100%;
  }
  
  .staff-txt-box h3{
    font-size: 1.3rem;
  }
  
  .staff-txt-box p{
    font-size: 1rem;
  }
  
  .slider-area{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 35px;
  }
  
  .slider_pic{
    width: 100%; 
    object-fit: contain;
  }
}